version: "3.9"

services:
  # ------------------- USER SERVERS -------------------
  user-server-1:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.9
    platform: linux/amd64
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/user_management.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-server-2:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.9
    platform: linux/amd64
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/user_management.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-server-3:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.9
    platform: linux/amd64
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/user_management.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-api:
    image: nginx:latest
    platform: linux/amd64
    restart: always
    depends_on:
      - user-server-1
      - user-server-2
      - user-server-3
    ports:
      - "8001:80"
    volumes:
      - ./nginx/user-server.conf:/etc/nginx/nginx.conf:ro

  # ------------------- PAYMENT SERVERS -------------------
  payment-server-1:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.15
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/payment_server.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-server-2:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.15
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/payment_server.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-server-3:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.15
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/payment_server.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-api:
    image: nginx:latest
    restart: always
    depends_on:
      - payment-server-1
      - payment-server-2  
      - payment-server-3
    ports:
      - "8000:80"
    volumes:
      - ./nginx/payment-server.conf:/etc/nginx/nginx.conf:ro

  # ------------------- INDEXER -------------------
  indexer:
    image: ghcr.io/kharon-labs/kharon-indexer:v0.2.3
    platform: linux/amd64
    restart: unless-stopped
    env_file:
      - ./envs/indexer.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  # ------------------- DATABASE -------------------
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - ./envs/database.env
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kharon_db"]
      interval: 30s
      timeout: 10s
      retries: 5
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    depends_on:
      - postgres
    env_file:
      - ./envs/database.env
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.rule=Host(`db-panel-2025.kharonpay.com`)"
      - "traefik.http.routers.pgadmin.entrypoints=websecure"
      - "traefik.http.routers.pgadmin.tls=true"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.pgadmin-redirect.entrypoints=web"
      - "traefik.http.routers.pgadmin-redirect.rule=Host(`db-panel-2025.kharonpay.com`)"
      - "traefik.http.routers.pgadmin-redirect.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

  # ------------------- REDIS -------------------
  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - 127.0.0.1:6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
# ------------------- FRONTEND -------------------
  frontend-1:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.8
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-2:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.8
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-3:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.8
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-api:
    image: nginx:latest
    platform: linux/amd64
    restart: always
    depends_on:
      - frontend-1
      - frontend-2
      - frontend-3
    labels:
      - "traefik.enable=true"
      # http with redirection
      - traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https
      - traefik.http.routers.web-router.entrypoints=web
      - traefik.http.routers.web-router.rule=Host(`app.kharonpay.com`)
      - traefik.http.routers.web-router.middlewares=redirect-middleware
      # https
      - traefik.http.routers.websecure-router.entrypoints=websecure
      - traefik.http.routers.websecure-router.tls=true
      - traefik.http.routers.websecure-router.rule=Host(`app.kharonpay.com`)

      # - "traefik.http.routers.frontend.rule=Host(`kharonpay.com`) && !Method(`POST`)"
      # - "traefik.http.routers.frontend.entrypoints=websecure"
      # - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"

      # - "traefik.http.middlewares.frontend-ratelimit-post.ratelimit.average=1"
      # - "traefik.http.middlewares.frontend-ratelimit-post.ratelimit.period=1m"
      # - "traefik.http.routers.frontend-post.rule=Host(`kharonpay.com`) && Method(`POST`)"
      # - "traefik.http.routers.frontend-post.middlewares=frontend-ratelimit-post"
      # - "traefik.http.routers.frontend-post.entrypoints=websecure"
      # - "traefik.http.routers.frontend-post.tls.certresolver=letsencrypt"

      # - "traefik.http.services.frontend.loadbalancer.server.port=80"
      # - "com.centurylinklabs.watchtower.enable=true"
    expose:
      - 80
    volumes:
      - ./nginx/frontend.conf:/etc/nginx/nginx.conf:ro


# ------------------- LANDINGPAGE -------------------
  landing-1:
    image: ghcr.io/kharon-labs/kharon-pay-landing:v0.0.2
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - frontend-api

  landing-2:
    image: ghcr.io/kharon-labs/kharon-pay-landing:v0.0.2
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - frontend-api

  landing-3:
    image: ghcr.io/kharon-labs/kharon-pay-landing:v0.0.2
    env_file:
      - ./envs/frontend.env
    platform: linux/amd64
    restart: always
    depends_on:
      - frontend-api

  landing-api:
    image: nginx:latest
    platform: linux/amd64
    restart: always
    depends_on:
      - landing-1
      - landing-2
      - landing-3
    labels:
      - "traefik.enable=true"
      # http with redirection
      - traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https
      - traefik.http.routers.landing-api.entrypoints=web
      - traefik.http.routers.landing-api.rule=Host(`kharonpay.com`)
      - traefik.http.routers.landing-api.middlewares=redirect-middleware
      # https
      - traefik.http.routers.landing-api.entrypoints=websecure
      - traefik.http.routers.landing-api.tls=true
      - traefik.http.routers.landing-api.rule=Host(`kharonpay.com`)
    expose:
      - 80
    volumes:
      - ./nginx/landing.conf:/etc/nginx/nginx.conf:ro


# ------------------- REVERSE PROXY (TRAEFIK) -------------------
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    command:
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # - "--entryPoints.web.forwardedHeaders.insecure"
      # - "--entryPoints.websecure.forwardedHeaders.insecure"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - --providers.file.directory=/etc/traefik/dynamic_conf
      - --providers.file.watch=true

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
      - ./certs/:/certs/:ro
      - ./traefik.yml:/etc/traefik/dynamic_conf/conf.yml:ro

  # ------------------- LOGGING -------------------
  # user-logs:
  #   image: ghcr.io/kharon-labs/kharon-logger:v0.1.0
  #   restart: always
  #   volumes:
  #     - user_logs:/var/log/kharon/user

  # payment-logs:
  #   image: ghcr.io/kharon-labs/kharon-logger:v0.1.0
  #   restart: always
  #   volumes:
  #     - payment_logs:/var/log/kharon/payment
# ------------------- BACKUP JOB -------------------
  pg-backup:
    image: postgres:16
    depends_on:
      - postgres
    environment:
      PGPASSWORD: postgres
    volumes:
      - ./backups:/backups
    entrypoint: /bin/sh
    command:
      - -c
      - |
        while true; do
          echo "Starting backup at $(date)";
          TIMESTAMP=$(date +%Y%m%d%H%M)
          echo "Dumping to /backups/backup_${TIMESTAMP}.dump";
          pg_dump -h postgres -U postgres -F c -f "/backups/backup_${TIMESTAMP}.dump" postgres;
          echo "Done.";
          sleep 18000;
        done

volumes:
  pg_data:
  redis_data:
  pg_backups:
  user_logs:
  payment_logs:
  letsencrypt:
  pgadmin_data:

