version: "3.9"

services:
  # ------------------- USER SERVERS -------------------
  user-server-1:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.8
    platform: linux/amd64
    restart: always
    env_file:
      - ./envs/user_management_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-server-2:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.8
    platform: linux/amd64
    restart: always
    env_file:
      - ./envs/user_management_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-server-3:
    image: ghcr.io/kharon-labs/kharon-user-management-test:v0.0.8
    platform: linux/amd64
    restart: always
    env_file:
      - ./envs/user_management_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/api/v1/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-api:
    image: nginx:latest
    platform: linux/amd64
    restart: always
    depends_on:
      - user-server-1
      - user-server-2
      - user-server-3
    ports:
      - "8001:80"
    volumes:
      - ./nginx/user-server.conf:/etc/nginx/nginx.conf:ro

  # ------------------- PAYMENT SERVERS -------------------
  payment-server-1:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.8
    restart: always
    env_file:
      - ./envs/payment_server_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-server-2:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.8
    restart: always
    env_file:
      - ./envs/payment_server_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-server-3:
    image: ghcr.io/kharon-labs/kharon-payment-server-test:v0.0.8
    restart: always
    env_file:
      - ./envs/payment_server_local.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-api:
    image: nginx:latest
    restart: always
    depends_on:
      - payment-server-1
      - payment-server-2  
      - payment-server-3
    ports:
      - "8000:80"
    volumes:
      - ./nginx/payment-server.conf:/etc/nginx/nginx.conf:ro

  # ------------------- INDEXER -------------------
  indexer:
    image: ghcr.io/kharon-labs/kharon-indexer:v0.1.1
    platform: linux/amd64
    restart: unless-stopped
    env_file:
      - ./envs/indexer.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  # ------------------- DATABASE -------------------
  # postgres:
  #   image: postgres:16
  #   container_name: postgres
  #   restart: always
  #   env_file:
  #     - ./envs/database.env
  #   volumes:
  #     - pg_data:/var/lib/postgresql/data
  #     - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
  #   ports:
  #     - "127.0.0.1:5432:5432"
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "kharon_admin"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  
  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   restart: always
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   env_file:
  #     - ./envs/database.env
  #   ports:
  #     - "127.0.0.1:5050:80"
  #   volumes:
  #     - pgadmin_data:/var/lib/pgadmin

  # ------------------- REDIS -------------------
  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
# ------------------- FRONTEND -------------------
  frontend-1:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.7
    env_file:
      - ./envs/frontend.local.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-2:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.7
    env_file:
      - ./envs/frontend.local.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-3:
    image: ghcr.io/kharon-labs/kharon-pay-ui:v0.0.7
    env_file:
      - ./envs/frontend.local.env
    platform: linux/amd64
    restart: always
    depends_on:
      - user-api
      - payment-api

  frontend-api:
    image: nginx:latest
    platform: linux/amd64
    restart: always
    depends_on:
      - frontend-1
      - frontend-2
      - frontend-3
    ports:
      - "3000:80"
    volumes:
      - ./nginx/frontend.conf:/etc/nginx/nginx.conf:ro
  # ------------------- LOGGING -------------------
  # user-logs:
  #   image: ghcr.io/kharon-labs/kharon-logger:v0.1.0
  #   restart: always
  #   volumes:
  #     - user_logs:/var/log/kharon/user

  # payment-logs:
  #   image: ghcr.io/kharon-labs/kharon-logger:v0.1.0
  #   restart: always
  #   volumes:
  #     - payment_logs:/var/log/kharon/payment
# ------------------- BACKUP JOB -------------------
  # pg-backup:
  #   image: postgres:16
  #   depends_on:
  #     - postgres
  #   environment:
  #     PGPASSWORD: postgres
  #   volumes:
  #     - ./backups:/backups
  #   entrypoint: /bin/sh
  #   command:
  #     - -c
  #     - |
  #       while true; do
  #         echo "Starting backup at $(date)";
  #         TIMESTAMP=$(date +%Y%m%d%H%M)
  #         echo "Dumping to /backups/backup_${TIMESTAMP}.dump";
  #         pg_dump -h postgres -U postgres -F c -f "/backups/backup_${TIMESTAMP}.dump" postgres;
  #         echo "Done.";
  #         sleep 30;
  #       done

volumes:
  pg_data:
  redis_data:
  pg_backups:
  user_logs:
  payment_logs:



